*{
    margin:0px;
    padding:0px;
}

@font-face {
	font-family: 'nicomoji';
    src: url(fonts/nicomoji-plus_1.11.ttf);
    
}

header {
    height:50px;
}
#titletext{
    display: inline-block;
    margin-left: 10px;
    font-size:30px;
    font-family: "nicomoji";
}

#titletext a{
    color : white;
    text-decoration: none;
}

#headlist{
    display: inline-block;
    margin-left: 30px;
}
#headlist li{
    display: inline-block; 
    margin:0px 10px;
    line-height:50px;
    font-size:20px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

#myimage{
    margin-top:10px;
    width: 200px;
    border-radius: 50%;
}

.prof{
    float: left;
}

#proftext{
    word-break: break-all;
}

#myname{
    vertical-align:top;
    word-break: break-all;
    margin-left:4px;
    font-size: 40px;
}

#jikos{

    margin:10px;
    position:absolute;
    width:30%;
    height:600px;
    background-color: white;
    right:0px;
}

.toptext {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size:30px;
}

#headlist li a{
    color : white;
    text-decoration: none;
}
#page_top{
    background-color:#112936;
    color:white;
    top:0px;
    line-height:50px;
    
}